
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    word-spacing: 0.6;
    letter-spacing: 0.6;
    text-decoration: none;
}

html{
    --black:#0B0B0D;
    --darkRed:#8C0000;
    --lightgreen:#28DF99;
    --lightsky:#D6E0F0;
    --pink:#FF577F;
    --grern:#064420;
    --gray:#C2B8A3;
    --purple:#7B113A;
    --white:#fff;
    --blue:#185ADB;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--black);
}

header{
    height: 600px;
    
}
.container{
   padding: 200px 100px;
}
.container h1{
    max-width: 540px;
}
.heading-item{
    color: var(--lightgreen);
    cursor: pointer;
}
.heading-item:nth-child(even){
    color: var(--darkRed);
}
.primary-btn,.secondary-btn{
    font-size: 27px;
    padding:2px 20px;
    cursor: pointer;
    background-color:var(--pink);
    overflow: hidden;
    outline: none;
    border:none;
    border-radius: 16px;
    color: var(--white);
    box-shadow: 1px 1px 2px var(--gray);
}


.container-fluid{
    background-color: var(--darkRed);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card{
    width: 25%;
    text-align: center;
    background-color: var(--white);
    margin:20px 0;
    border-radius: 10px;
    box-shadow: 1px 1px 2px var(--gray),
                1px 1px 2px var(--gray);
   
}
.card i{
    font-size:60px;
    cursor: pointer;
}

.secondary-btn{
    margin-top:20px;
    background-color: var(--darkRed);
    margin-bottom: 20px;
}


.projects{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    
}


.project-heading h1{
    text-align: center;
    font-size: 50px;
}

.project-description{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top:60px;
   
}
.inner-card,.outer-card{
    height: 300px;
    width: 300px;
    box-shadow: 1px 1px 2px var(--gray),
                -1px -1px 2px var(--gray);
    background-color: var(--black);
    border-radius: 10px;
}
.outer-card{
    margin-top: -30px;
    margin-left:-30px ;
    background-color: var(--white);
    text-align: center;
    padding-top:30%;
    cursor: pointer;
}

.outer-card h1:hover{
    color: var(--lightgreen);
   
}

.footer{
    margin-top: 100px;
    background-color: var(--darkRed);
    display: flex;
    flex-direction: column;
}
.footer h1{
    text-align: center;
    color: var(--white);
}
.social__media{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.direct__msg,.icon {
    padding: 10px 10px;
    background-color: var(--white);
    border-radius: 10px;
}

.icon{
    padding: 20px 100px;
}

.icon a i{
    font-size: 25px;
    padding-left: 20px;
}






/* education css part */
.education{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: var(--darkRed);
    display:none;
    height: 100vh;
}
.education.active{
    display: block;
}
.education h1{
    font-size: 50px;
    color: var(--white);

}
.education__row{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    background-color: #fff;
    margin: 30px 10%;
    border-radius: 20px; 
}
.images img{
    height: 500px;
    border-radius: 20px;    
}
.text-side{
    margin: 10px 10px;
    width: 50%;
    text-align:justify;
    box-shadow: 2px 2px 3px var(--gray);
    border-radius: 30px;
}
.text-side h3{
    font-weight:bolder;
    padding:30px 10px;
   
}
.education>i{
    font-size: 50px;
    cursor: pointer;
    color: var(--white);
}
@media (max-width:600px) {
    .container{
        padding: 100px 20px;
    }
    .container-fluid{
        flex-direction: column;
    }
    .card{
        width: 90%;
    }
    .project-description{
        flex-direction: column;

    }
   
    .inner-card,.outer-card{
        width: 250px;
        margin-bottom: 40px;
        margin-left: 40px;
    }
    .education{
        height: auto;
    }
    .education__row{
        flex-direction: column;
        margin: 10px 10px;
    }
    .images img{
        height: 400px;
        width: 100%;
    }
    .text-side{
        width: 100%;
        margin:0;
        box-shadow: none;
    }
    .social__media{
        flex-direction: column;
    }
    .direct__msg,.icon{
        width: 90%;
        padding:10px 5%;
    }
    .icon{
        margin-top: 10px;
        
    }
}


